<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/assets/"
      data-template="vertical-menu-template-free">
<head th:replace="~{mainFragment :: head}"></head>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <aside th:replace="~{mainFragment :: aside}">
        </aside>
        <!-- / Menu -->
        <!-- Layout container -->
        <div class="layout-page">
            <nav
                    class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar">
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="bx bx-menu bx-sm"></i>
                    </a>
                </div>

                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <!-- Search -->
                    <div class="navbar-nav align-items-center">
                        <div class="nav-item d-flex align-items-center">
                            <!--{{!&#45;&#45; <i class="bx bx-search fs-4 lh-0"></i>
                            <input type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                                   aria-label="Search..." /> &#45;&#45;}}-->
                        </div>
                    </div>
                    <!-- /Search -->

                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <!-- Place this tag where you want the button to render. -->
                        <!--{{!&#45;&#45; <li class="nav-item lh-1 me-3">
                        <a class="github-button" href="https://github.com/themeselection/sneat-html-admin-template-free"
                           data-icon="octicon-star" data-size="large" data-show-count="true"
                           aria-label="Star themeselection/sneat-html-admin-template-free on GitHub">Star</a>
                    </li> &#45;&#45;}}-->

                        <!-- User -->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img src="/avatar/avatar.png" id="avatar-user" alt="avatar" class="w-px-40 h-auto rounded-circle" />
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img src="/avatar/avatar.png" alt="avatar" id="sub-avatar" class="w-px-40 h-auto rounded-circle" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="user-name fw-semibold d-block"></span>
                                                <small class="role text-muted"></small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/my-profile">
                                        <i class="bx bx-user me-2"></i>
                                        <span class="align-middle">Hồ sơ</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/auth/logout">
                                        <i class="bx bx-power-off me-2"></i>
                                        <span class="align-middle">Đăng xuất</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--/ User -->
                    </ul>
                </div>
            </nav>
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Thông tin chi tiết /</span> Tài khoản</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-4">
                                <h5 class="card-header">Thông tin cá nhân</h5>
                                <!-- Account -->
                                <div class="card-body">
                                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                                        <img alt="user-avatar" class="d-block rounded" height="100" width="100"
                                             id="uploadedAvatar" />
                                        <div class="button-wrapper">
                                            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                                <span class="d-none d-sm-block">Upload new photo</span>
                                                <i class="bx bx-upload d-block d-sm-none"></i>
                                                <input type="file" id="upload" class="account-file-input" hidden
                                                       accept="image/png, image/jpeg" onchange="handleFileChange()" />
                                            </label>
                                            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-0" />
                                <div class="card-body">
                                    <form id="formAccountSettings" method="POST" onsubmit="return false">
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="fullName" class="form-label">Họ và tên</label>
                                                <input disabled class="form-control" type="text" id="full-name" name="fullName"
                                                       value="John" autofocus />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="email" class="form-label">E-mail</label>
                                                <input disabled class="form-control" type="text" id="email" name="email"
                                                       value="john.doe@example.com" placeholder="john.doe@example.com" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="address" class="form-label">Địa chỉ</label>
                                                <input disabled type="text" class="form-control" id="address" name="address"
                                                       placeholder="Address" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="phone-number" class="form-label">Số điện thoại</label>
                                                <input disabled class="form-control" type="text" name="phoneNumber"
                                                       id="phone-number" value="" />
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                            <button type="submit" class="btn btn-primary me-2" onclick="changePassword()">Đổi mật
                                                khẩu</button>

                                        </div>
                                    </form>
                                </div>
                                <!-- /Account -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-backdrop fade"></div>
            </div>
        </div>

    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- modal change password -->
<div class="modal fade" id="change-password-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-product-modal-label">Đổi mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-create-employee" enctype="application/x-www-form-urlencoded">
                    <div class="mb-3">
                        <label for="old-password">Mật khẩu cũ</label>
                        <input class="form-control" type="password" placeholder="Nhập mật khẩu cũ" id="old-password"
                               name="oldPassword">
                    </div>

                    <div class="mb-3">
                        <label for="new-password">Mật khẩu mới</label>
                        <input class="form-control" type="password" placeholder="Nhập mật khẩu mới" id="new-password"
                               name="newPassword">
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password">Xác nhận mật khẩu</label>
                        <input class="form-control" type="password" placeholder="Xác nhận mật khẩu mới"
                               id="confirm-password" name="confirmPassword">
                    </div>

                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Huỷ </button>
            <button type="button" class="btn-add-product btn btn-primary pe-auto" onclick="confirmChange()"> Lưu thay
                đổi
            </button>
        </div>
    </div>
</div>

<!-- Toast message --->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="bg-success text-white toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>
</body>

<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<!-- Page JS -->
<script src="/assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="/js/account-setting.js"></script>
</html>