<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Invoice</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        main {
            margin-top: 30px;
        }

        * {
            font-size: 18px;
        }

        .add-on {
            margin-top: 50px;
            border-top: 1px solid black;
            font-size: 10px;
            font-style: italic;
        }

        .add-on .innner {
            margin-top: 20px;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>Thông tin hóa đơn</h1>
    <main>
        <p>Mã hóa đơn: <span th:text="${invoice}"></span></p>
        <p>Khách hàng: <span th:text="${customerName}"></span></p>
        <p>Nhân viên: <span th:text="${salesStaffName}"></span></p>
        <p>Ngày tạo: <span th:text="${createdAt}"></span></p>
        <p>Tổng tiền: <span th:text="${totalPrice}"></span></p>
        <p>Tổng số hàng: <span th:text="${totalProducts}"></span></p>
        <p>Số tiền nhận: <span th:text="${receiveMoney}"></span></p>
        <p>Số tiền thừa: <span th:text="${excessMoney}"></span></p>
        <p>Sản phẩm:</p>
        <div class="review-chosen-items-group">
            <table class="table" id="products">
                <thead>
                <tr>
                    <th>Số thứ tự</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá bán</th>
                    <th>Số lượng</th>
                    <th>Tổng</th>
                </tr>
                </thead>
                <tbody class="tbody table-border-bottom-0" id="product-items-chosen-view-only">
                <tr th:each="item : ${products}">
                    <td>
                        <i class="bar-code fab fa-angular fa-lg text-danger me-3"></i>
                        <strong class="bar-code" th:text="${itemStat.index}"></strong>
                    </td>
                    <td class="name" th:text="${item.name}"></td>
                    <td class="sale-price" th:text="${item.salePrice}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.totalMoney}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="add-on">
            <div class="innner">
                <p>Giá ở trên đã bao gồm VAT</p>
                <p>Mọi thắc mắc, khiếu nại xin vui lòng liên hệ: 19000000</p>
                <p>Website: http://localhost:3000</p>
            </div>
        </div>
        <!-- Add invoice details and items here -->
    </main>
</div>
</body>
</html>
